@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Source+Sans+Pro&display=swap");
/* @import './reset.css'; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  display: flex;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

aside {
  border: 1px solid blue;
  color: #fff;
  background: #222;
  width: 15%;
  display: flex;
  flex-direction: column;
}


.logo {
  border: 1px solid hotpink;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  text-transform: uppercase;
}

aside .sidebar-content {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .btn-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

aside .btn-container button {
  height: 30px;
  width: 80%;
  border: none;
  outline: none;
  font-size: 0.8rem;
}

aside .category-title {
  text-align: center;
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside li {
  width: 100%; 
  text-align: center;
}

aside a {
  /* border: 1px solid orange; */
  /* margin-bottom: 10px; */
  display: block;
  padding: 0 2em 0 1em;
  /* line-height: 50px; */
}

/* .category-container, */
.fav-authors
 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* aside .fav-authors  {
  border: 1px solid magenta;
}

aside .category-container   {
  border: 1px solid green;
} */

main {
  width: 85%;
  position: relative;
}

header {
  background: #222;
  width: 100%;
  height: 50px;
}

.header-inner {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  height: 100%;
}

.main-container {
  /* border: 1px solid blue; */
}

.rightbox img {
  border-radius: 50%;
}

.rightbox {
  display: flex;
  align-items: center;
  width: 6%;
  justify-content: space-between;
}

.rightbox .arrDown  {
  color: #fff;
}

.leftbox   {
  width: 30%;
}

.leftbox input  {
  /* border: 1px solid #ccc; */
  width: 70%;
  border-radius: 2px;
  height: 35px;
  padding: 10px;
  outline: none;
  border: 0;
}

input  {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
}

.single-book {
  /* border: 1px solid red; */
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding: 10px;
  flex-basis: content;
}

.img-container {
  height: 80%;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
